.App {
  font-family: sans-serif;
  /* text-align: center; */
}
.root {
  margin: 10px;
  display: inline-block;
}
.child {
  margin-left: 50px;
  padding: 2px;
  -webkit-transition: max-height 1s linear;
  -moz-transition: max-height 1s linear;
  -o-transition: max-height 1s linear;
  transition: max-height 2s linear;

  border-left: 1px solid red;
}

.child.hide {
  max-height: 0px;
  overflow: hidden;
}
